@import "../styles/mixin.scss";

.body{
    width: 100%;
    padding-top: 2rem;
    font-family: 'Pretendard';
    margin-left: 25px;
    .app-title h1{
        font-family: 'Montserrat', sans-serif;
        margin: -20px 0 0 -20px;
        color: white;
        font-size: 50px;
        font-weight: 700;  
        word-spacing: -7px;
    }
    .app-introd{
        height: 15%;
        margin-top: 20px;
        margin-left: -20px;
        margin-bottom: 70px;
        h3{
            color: rgb(255, 255, 255);
            font-size: 13px;
            font-weight: 200;
        }
    }
    @include tablet{
        .app-title h1{
            font-family: 'Montserrat', sans-serif;
            margin: -20px 0 0 -20px;
            color: white;
            font-size: 90px;
            font-weight: 700; 
            letter-spacing: -4px; 
            word-spacing: -10px;
        }
        .app-introd{
            height: 15%;
            margin-top: 20px;
            margin-left: -20px;
            margin-bottom: 50px;
            h3{
                color: rgb(255, 255, 255);
                font-size: 15px;
                font-weight: 100;
            }
        }
    }
    @include laptop{
        margin-left: 30px;
        .app-title h1{
            font-family: 'Montserrat', sans-serif;
            margin: -20px 0 0 -20px;
            color: white;
            font-size: 100px;
            font-weight: 700; 
            letter-spacing: -4px; 
            word-spacing: -14px;
        }
        .app-introd{
            height: 15%;
            margin-top: 20px;
            margin-bottom: 50px;
            h3{
                color: rgb(255, 255, 255);
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
    @include desktop{
        margin-left: 50px;
        .app-title{
            height: 40%;
        }
        .app-title h1{
            font-family: 'Montserrat', sans-serif;
            margin: -25px 0 0 -25px;
            color: white;
            font-size: 110px;
            font-weight: 900; 
            letter-spacing: -4px;   
            word-spacing: -15px;
        }
        .app-introd{
            
            height: 15%;
            // margin-top: 20px;
            // margin-left: -20px;
            margin-bottom: 50px;
            h3{
                color: rgb(255, 255, 255);
                font-size: 18px;
                font-weight: 100;
            }
        }
    }
}