@import "../styles/mixin.scss";

.header{
    font-family: 'Pretendard';
    // margin-left: 10px;
    padding: 1rem;
    height: 10%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-logo h1{
        color: white;
        font-weight: 100;
        @include desktop{
            margin-left: 45px;
        }
        
    }
    .logo-img{
        width: 100px;
        height: 35px;
    }
    nav{
        padding: 10px;
        ul{
        list-style: none;
            li{
            display: inline-block;
            padding-left: 15px;
                a{
                    color: white;
                }
            }
        }
    }
    @include tablet{
    }
    @include laptop{
        nav{
            margin-right: 80px;
        }
    }

}