@import "../styles/mixin.scss";

.MainPage{
    min-width: 430px;
    //height: 1200px;
    height: 100%;
    background-image: url('../assets/back-img.jpg');
    background-size: cover;

    @include tablet{
        min-width: 834px;
        height: 100%;
    }
    @include laptop{
        min-width: 1280px;
        height: 100%;
    }
    @include desktop(){
        min-width: 1900px;
        height: 100%;
    }

}