//반응형 웹 mixin 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500;700;900&family=Karla:wght@200;300;400;600;700;800&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


$tablet: 768px;
$laptop: 1020px;
$desktop: 1400px;

//Mixins
@mixin tablet{
    @media (min-width: #{$tablet}) {
        @content;
    }
}
@mixin laptop{
    @media (min-width: #{$laptop}) {
        @content;
    }
}
@mixin desktop{
    @media (min-width: #{$desktop}) {
        @content;
    }
}
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}