@import "../styles/mixin.scss";

.body{
    // text-align: center;
    font-family: 'Pretendard';
    .link-section{
        margin-left: 20px;
        h2{
            font-size: 18px;
            font-weight: 300;
            color: rgb(190, 190, 190);
        }
    }

}
