html,
body {
    height: 100%;
}


body {
    margin: 0;
    padding: 0;
}


#root {
    height: 100%;
}


.swiper {
    width: 100%;
    height: 100%;
}


.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}